.title {
    text-align: left;
    margin: 0;
    margin-left: 10%;
    display: inline-block;
    color: white;
    font-family: Avenir;
    font-size: 4em;
}
.subtitle {
    text-align: left;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 10%;
    color: white;
    font-size: 1em;
}