#category.cover {
    height: 90px;
    margin: 25px;
    background: white;
    color: black;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
#category .content h2 {
    position: absolute;
    text-align: left;
    left: 90px;
    top: 0px;
}
#category .content p {
    font-size: .7em;
    position: absolute;
    text-align: left;
    left: 90px;
    top: 40px;
    margin-right: 45px;
}
#category .image {
    position: absolute;
    top: 20px;
    left: 20px;
}
#category .image img {
    height: 50px;
    width: 50px;
}
#category .arrowRight {
    position: absolute;
    right: 15px;
    top: 33px;
    transform: scale(.5);
}
#category .arrowDown {
    position: absolute;
    bottom: -5px;
    margin-left: -2px;
    transform: scaleX(.8);
}