#category.cover {
    height: 100px;
    margin: 25px;
    background: rgb(203, 223, 211);
    position: relative;
    border-radius: 10px;
}
#category .content h2 {
    position: absolute;
    text-align: left;
    left: 100px;
    top: 10px;
    margin: 10px;
}
#category .content p {
    position: absolute;
    text-align: left;
    left: 100px;
    top: 40px;
    margin: 10px;
    margin-right: 45px;
}
#category .image {
    position: absolute;
    height: 80px;
    top: 10px;
    left: 10px;
    width: 80px;
}
#category .image img {
    height: 80px;
    width: 80px;
}
#category .icon {
    position: absolute;
    right: 15px;
    top: 35px;
}