.cover {
  text-align: center;
  position: relative;
}

.containerTitle {
  color: white;
  text-align: left;
  margin-left: 25px;
  margin-bottom: -15px;
}

.container {
  width: 95%;
  max-width: 700px;
  height: auto;
  display: inline-block;
}

.h1 {
  color: white;
}
